body
{
font-family: Helvetica, Arial, san-serif;
}


.container
{
margin: 0 auto;
background-color: #efefef;
max-width: 1200px;
}


.box
{
background-color: #8ea86e;
color: #fff;
border-radius: 5px;
padding: 20px;
text-align: center;
margin: 10px;
}

.nav
{
display: inline-block;
width: 15%;
float: right;
}

.logo
{
width: 50%;
display: inline-block;
/*margin-left: auto;
margin-right: auto;*/
}

#burgerCon
{

margin-bottom: 20px;
position: fixed;
top: 85px;
width: 100%;
background-color: rgba(255, 255, 255, 0.8);
display: none;
/* this should be off by default and toggled on with JavaScript */
}

.show-mobile-nav {display: block !important;}


#burgerCon li
{
padding: 20px;
border-top: thin solid #efefef; 
text-align: center;
}

#burgerCon a 
{
text-decoration: none; color: #8ea86e;
}



@media screen and (min-width: 600px) {
	#mainHeader { display: flex; flex-direction: row; }
	.box {flex: 1 1 auto; }
	.nav {flex: 0 1 600px; }
	.logo{order: -1;
		  flex: 0 1 220px;
		  margin-left: 10px;}

	#products {display: flex; flex-direction: row; }		  
}

